@using UserNotebook.Core.Models;
@model IEnumerable<UserDto>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">
    Dodaj
</button>
<button id="generateReportButton" class="btn btn-primary" data-generateReport-url="@Url.Action("GenerateUserReport", "User")">Stwórz raport</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Data Urodzenia</th>
            <th>Płeć</th>
            <th>Dodatkowe Parametry</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            var userJson = System.Text.Json.JsonSerializer.Serialize(user);
            <tr>
                <td>@user.Imie</td>
                <td>@user.Nazwisko</td>
                <td>@user.DataUrodzenia.ToString("dd-MM-yyyy")</td>
                <td>@user.Plec</td>
                <td>
                    @if (user.DodatkoweParametry != null && user.DodatkoweParametry.Any())
                    {
                        <ul>
                            @foreach (var elem in user.DodatkoweParametry)
                            {
                                <li>@elem.Key: @elem.Value</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <text>Brak</text>
                    }
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateUserModal" data-user="@userJson">
                        Edytuj
                    </button>
                    <button type="button" class="btn btn-danger delete-button" data-toggle="modal" data-target="#removeUserModal" data-user-id="@user.Id">
                        Usuń
                    </button>
    
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("Modals/UserAddModal")
@await Html.PartialAsync("Modals/UpdateUserModal")
@await Html.PartialAsync("Modals/DeleteUserConfirmModal")

<script src="~/js/userView.js" asp-append-version="true"></script>